@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my web app!</h1>

    @{
        var Heading = "I am a Tech Academy Student";
    }
    <h2>@Heading</h2>
    <p><strong>The current date and time:</strong> @DateTime.Now</p>
</div>
